<div>
  <p>My name is <%= name %></p>
  <p>My Birthday is <%= birthday.strftime("%F") %></p>
  <p>My favorite color is <%= favorite_color %></p>
  <p>I <%= like_people ? "like" : "do not like" %> people</p>
  <p>I have <%= number_pets > 0 ? "#{number_pets} #{"pet".pluralize(number_pets)}" : "no pets"%></p>
  <p>I like to watch <%= sports.to_sentence %></p>
  <p>My favorite food is <%= favorite_food %></p>
  <p>I'm feeling <%= mood %></p>
  <p>Other things about me <%= other_things.to_json %></p>
</div>